.add-form{
    opacity: 1;

    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);

    transition: opacity 1s ease-in-out, visibility 1s ease-in-out, height 0s ease-in-out;
}