.login__input{
    border: none;
    width: 358px;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 13px;

    font-family: Inter, "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #CCCCCC;

    background-color: transparent;

    margin-bottom: 30px;
}

.login__input:focus{
    outline: none;
}